.body {
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
}

.lottie-animation {
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.image {
  width: 100%;
}

.link-block {
  position: fixed;
  left: 4%;
  top: 4%;
  z-index: 9;
  width: 100%;
  max-width: 150px;
}

@media screen and (max-width: 479px) {
  .link-block {
    top: 3%;
    max-width: 90px;
  }
}